nav {
  position: sticky;
  z-index: 2;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  padding: 15px 20px;
  max-width: 1250px;
  width: 100%;
  margin: 0 auto 10px auto;
}

nav > div {
  display: flex;
  align-items: center;
}

.navList {
  display: none;
}

.menu {
  cursor: pointer;
  margin-right: 20px;
}

.logo {
  cursor: pointer;
  margin-top: -3px;
}

.cart {
  position: relative;
}

.cart svg {
  color: var(--dark-grayish-blue);
  cursor: pointer;
  margin-top: 3px;
}

.cart svg:hover {
  color: var(--black);
}

.cartBadge {
  position: absolute;
  top: -3px;
  right: -10px;
  background-color: var(--orange);
  border-radius: 10px;
  font-size: 9px;
  color: var(--white);
  padding: 1px 7px;
  font-weight: 700;
  display: none;
}

.showBadge {
  display: block;
}

.cartContainer {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  width: 100%;
  max-width: 1440px;
  height: 100vh;
  background-color: transparent;
}

.navCartWrapper {
  position: absolute;
  top: 80px;
  right: 8px;
  width: 360px;
  background-color: var(--white);
  box-shadow: 0px 12px 24px -12px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 12px 24px -12px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.navCartWrapper h1 {
  font-size: 16px;
  padding: 15px 20px;
  border-bottom: 1px solid var(--grayish-blue);
}

.cartItemsContainer {
  padding: 20px;
}

.ciWrapper {
  height: 195px;
  overflow-y: auto;
}

/* width */
.ciWrapper::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.ciWrapper::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.ciWrapper::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
.ciWrapper::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.cartItemsWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  color: var(--dark-grayish-blue);
}

.cartItemsWrapper img {
  width: 50px;
  height: auto;
  border-radius: 5px;
  margin-right: 10px;
}

.ciName {
  margin-bottom: 5px;
  width: 220px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ciDetails > span {
  display: inline-block;
  margin-left: 5px;
  color: var(--black);
  font-weight: 700;
}

.deleteIcon {
  color: var(--grayish-blue);
  margin-left: auto;
  cursor: pointer;
}

.deleteIcon:hover {
  color: var(--black);
}

.checkoutBtn {
  outline: none;
  border: none;
  width: 100%;
  text-align: center;
  padding: 15px 0;
  background-color: var(--orange);
  border-radius: 10px;
  color: var(--white);
  font-weight: 700;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
}

.cartItemsContainer > p {
  font-weight: 700;
  color: var(--dark-grayish-blue);
  padding: 50px;
  text-align: center;
}

.avatar {
  width: 30px;
  height: auto;
  margin-left: 25px;
  border-radius: 100%;
  cursor: pointer;
}

.avatar:hover {
  border: 2px solid var(--orange);
}

.navWrapper {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--light-black);
}

.navMenu {
  height: 100vh;
  width: 250px;
  background-color: var(--white);
  padding: 20px;
}

.closeMenuBtn {
  cursor: pointer;
  margin-bottom: 20px;
}

.menuList {
  list-style: none;
}

.menuList li {
  font-weight: 600;
  padding: 10px 0;
}

.menuList > li a {
  text-decoration: none;
  color: var(--black);
}

@media screen and (min-width: 1024px) {
  nav {
    align-items: flex-start;
    padding: 40px 0 0 0;
    border-bottom: 1px solid var(--grayish-blue);
    margin-bottom: 80px;
  }

  .menu {
    display: none;
  }

  .logo {
    margin-right: 40px;
    margin-top: -40px;
  }

  .cart svg {
    cursor: pointer;
    margin: 0;
  }

  .avatar {
    margin-top: -5px;
  }

  .navList {
    display: flex;
    align-items: center;
    list-style: none;
  }

  .navList li {
    padding-bottom: 40px;
  }

  .navList a:hover {
    color: var(--black);
    padding-bottom: 37px;
    border-bottom: 3px solid var(--orange);
  }

  .navList li:not(:last-child) {
    margin-right: 20px;
  }

  .navList > li a {
    text-decoration: none;
    color: var(--dark-grayish-blue);
  }

  .avatar {
    width: 40px;
    margin-left: 40px;
  }

  .navCartWrapper {
    top: 90px;
    right: 20px;
  }
}
