@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
  --orange: hsl(26, 100%, 55%);
  --pale-orange: hsl(25, 100%, 94%);
  --dark-blue: hsl(220, 13%, 13%);
  --dark-grayish-blue: hsl(219, 9%, 45%);
  --grayish-blue: hsl(220, 14%, 75%);
  --light-grayish-blue: hsl(223, 64%, 98%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --light-black: hsla(0, 0%, 0%, 0.75);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kumbh Sans', sans-serif;
}

p {
  font-size: 16px;
}

.productContainer {
  max-width: 1250px;
}

.productCarousel {
  position: relative;
  display: flex;
  width: 100%;
  overflow: hidden;
}

.productCarousel img {
  width: 100%;
  height: auto;
}

.productImg {
  display: none;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--white);
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.prev-arrow {
  left: 20px;
}

.prev-arrow svg {
  margin-left: -5px;
}

.next-arrow {
  right: 20px;
}

.next-arrow svg {
  margin-left: 5px;
}

.productDetails {
  width: 100%;
  max-width: 768px;
  margin: auto;
  padding: 20px;
}

.productCompany {
  display: block;
  color: var(--orange);
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 15px;
}

.productName {
  font-size: 30px;
  margin-bottom: 25px;
  line-height: 1.1;
}

.productDesc {
  color: var(--dark-grayish-blue);
  line-height: 1.5;
  margin-bottom: 30px;
  font-size: 15px;
}

.priceWrapper {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.productPrice {
  font-size: 25px;
  font-weight: 700;
  margin-right: 15px;
}

.productDiscount {
  display: inline-block;
  padding: 3px 7px;
  font-weight: 700;
  font-size: 14px;
  background-color: var(--pale-orange);
  color: var(--orange);
  border-radius: 5px;
}

.pOrigPrice {
  margin-left: auto;
  color: var(--grayish-blue);
  font-weight: 700;
}

.productQty {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--light-grayish-blue);
  border-radius: 10px;
  padding: 10px 20px;
  margin-bottom: 20px;
}

.operation {
  margin-top: -5px;
  font-weight: 700;
  color: var(--orange);
  font-size: 30px;
  cursor: pointer;
}

.operation:hover {
  opacity: .5;
}

.pQtyCount {
  font-weight: 700;
}

.cartWrapper {
  padding: 15px 20px;
  border-radius: 10px;
  background-color: var(--orange);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 0px 12px 24px -12px hsla(26, 100%, 55%, 0.5);
  -webkit-box-shadow: 0px 12px 24px -12px hsla(26, 100%, 55%, 0.5);
}

.cartWrapper:hover {
  opacity: .5;
}

.addCart {
  margin-right: 20px;
}

@media screen and (min-width: 1024px){
  .productContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
  }

  .arrow {
    display: none;
  }

  .productImgMobile {
    display: none;
  }

  .productImg {
    display: block;
    margin-bottom: 25px;
    border-radius: 20px;
  }

 .thumbnailWrapper {
   display: flex;
   justify-content: space-between;
 }

 .thumbnailWrapper > div {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 110px;
   border-radius: 10px;
   overflow: hidden;
   cursor: pointer;
 }

 .thumbnailWrapper img:hover {
   opacity: .5;
 }

 .thumbnailWrapper img {
    width: 100%;
    height: auto;
  }

  .active-img {
    border: 2px solid var(--orange);
  }
  
  .active-img > img{
    opacity: .5;
  }

  .productCarousel {
    display: flex;
    flex-direction: column;
    max-width: 500px;
  }

  .productCompany {
    margin-bottom: 20px;
  }

  .productName {
    font-size: 45px;
  }

  .productDesc {
    font-size: 16px;
  }

  .priceWrapper {
    display: block;
    position: relative;
    margin-bottom: 40px;
  }

  .productPrice {
    font-size: 30px;
    margin: 0 0 10px 0;
  }

  .productDiscount {
    position: absolute;
    top: 6px;
    left: 120px;
    font-size: 16px;
  }

  .pOrigPrice {
    margin: 0;
  }

  .productDetails {
    max-width: 480px;
    margin: 0;
    padding: 0;
  }

  .productDetails > :last-child {
    display: flex;
    align-items: center;
  }

  .productQty {
    width: 150px;
    margin: 0 20px 0 0;
  }

  .cartWrapper {
    padding: 15px 60px;
  }

  .fullCarouselContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 6;
    width: 100vw;
    height: 100vh;
    background-color: var(--light-black);
  }

  .fcWrapper {
    position: relative;
    width: 100%;
    max-width: 500px;
  }

  .fcCloseBtn {
    display: block;
    margin: 10px 10px 15px auto;
    color: var(--white);
    cursor: pointer;
  }

  .fcCloseBtn:hover {
    color: var(--orange);
  }

  .fcWrapper > img {
    width: 100%;
    border-radius: 20px;
    margin-bottom: 30px;
  }

  .fcArrow {
    position: absolute;
    top: 38%;
    background-color: var(--white);
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .fca-prev {
    left: -25px;
  }

  .fca-prev svg{
    margin-left: -5px;
  }

  .fca-prev svg:hover {
    color: var(--orange);
  }

  .fca-next {
    right: -25px;
  }

  .fca-next svg {
    margin-left: 5px;
  }

  .fca-next svg:hover {
    color: var(--orange);
  }

  .fctWrapper {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 80%;
  }

  .fctWrapper > div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 80px;
    border-radius: 10px;
    overflow: hidden;
    background-color: var(--white);
  }

  .fctWrapper img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

